.card {
  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 4rem auto;
  cursor: pointer;

  &--ready {
    cursor: auto;

    .card__body {
      transform: rotateY(0deg);
    }
    .card__profile {
      img {
        opacity: 1;
      }
    }
    &:hover .card__body {
      transform: rotateY(0deg) !important;
    }
    &:hover > .card__body > .card__side--front {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  &:hover .card__body {
    transform: rotateY(180deg);
  }

  &:hover > .card__body > .card__side--front {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.fighting {
      .card:first-of-type {
        animation-name: fightLeft;
        animation-duration: .4s;
        animation-iteration-count: 3;
      }
      .card:last-of-type {
        animation-name:fightRight;
        animation-duration: .4s;
        animation-iteration-count: 3;
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .7s linear;
  }

  &__side {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #212121;
    background-color: #fff;
    backface-visibility: hidden;
    box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
    border-radius: 20px;

    .card__label {
      margin: 2rem 0 0 0;
    }

    &--back {
      z-index: 2;
      text-align: center;
      transform: rotateY(180deg);

      .card__label {
        margin: 5rem 0 0 0;
      }
    }
  }

  &__content {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  &__profile {
    img {
      width: 50%;
      margin: 3rem 0 0 0;
      opacity: 0.1;
      clip-path: circle(100px at center);
    }
  }

  &__form {
    margin-top: 32px;
  }

  &__label {
    display: block;
    font-size: 20px;
    line-height: 1;
    color: #8f9ba5;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    padding: 1rem;
    margin: 1rem;
    font-size: 22px;
    text-align: center;
  }
}

::-webkit-input-placeholder { color: #e8e8e8; }
::-moz-placeholder { color: #e8e8e8; }
:-ms-input-placeholder { color: #e8e8e8; }
:-moz-placeholder { color: #e8e8e8; }

@keyframes fightLeft{
  0% {transform: translateX(0%);}
  50% {transform: translateX(22%);}
  100% {transform: translateX(0%);}
}

@keyframes fightRight{
  0% {transform: translateX(0%);}
  50% {transform: translateX(-22%);}
  100% {transform: translateX(0%);}
}
